/*colors*/
$sidebarBg: #43425d;
$sidebarTextColor: #fff;
$sidebarActiveText: rgba(0, 0, 0, .1);
$sidebarTitleBg: #3c3b53;
$sidebarActiveBg: #3c3b54;
$sidebarStripeColor: #a3a0fb;
$mainBg: #f0f0f7;
$shadowColor: rgba(0, 0, 0, .04);
$placeholderColor: #4d4f5c;
$headerRightDivider: #ebebf2;
/*END colors*/

$containerWidth: 1170px;